header.header
    .header__cloum
        a(href=routes.home) 
              
            h1 
                i.fab.fa-youtube
                |#{siteName}  
    .header__cloum
        ul
            li
                a(href=routes.join) join
            li
                a(href=routes.login) login
        