extends layouts/main
include partials/mixin/videoBlock

block content
    .videos
        each item in videoDB
            +videoBlock({
                videoFile:item.fileUrl,
                title:item.title,
                views:item.views,
                id:item.id,
            })