extends layouts/main
include partials/mixin/videoBlock

block content
    .search__header
        h2 searching for #{searchingBy}
    .search__videos
        if videoDB.length === 0
            h3 No Videos Found
        each item in videoDB
            +videoBlock({
                id:item.id,
                videoFile:item.fileUrl,
                title:item.title,
                views:item.views,
            })